<div class="center hero-unit">
  <h1>Finding a Home?</h1>


<%= link_to image_tag("portrait_andy_c.jpg", alt: "Andy Chao"), 'http://' %>
  <h2>
    Contact me
  </h2>
  <p>
    Email me
  </p>

  <p>
    Call me
  </p>

</div>

